# ----------------------------------------------------------------------
# | Modes maintenance                                         |
# ----------------------------------------------------------------------

#######################################################
## Access to website into localhost Maintenance
order deny,allow
deny from all
allow from 127.0.0.1

#######################################################
## Access to website into IP Address Maintenance
##order deny,allow
##deny from all
##allow from 'IP'
##allow from 'IP'

# ----------------------------------------------------------------------
# | Rewriting index to Coming soon                                         |
# ----------------------------------------------------------------------
##########################################################
Redirect /index /comingSoon